<div class="menu men-sm pill pil-sm padding pad-smB">
    <header class="padding pad-xs">
        <h4>User</h4>

    </header>
    <hr class="margin mar-xsHr">

    <!--User info  such as name and last seen-->
    <div class="padding pad-xs">
        <h4>{{username()}}</h4>
        <br>
        <p><b>Last Seen:</b><br>
            <time>Month DDth, YYYY</time><br>
            <time>HH:MM:SS AM</time>
        </p>
    </div>
    <hr class="hr-sm">
    <!--Menu Item Components go here-->
    <ng-content></ng-content>
</div>