# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
StyleGuide/dist
StyleGuide/tmp
StyleGuide/out-tsc
StyleGuide/bazel-out

# Node
StyleGuide/node_modules
StyleGuide/npm-debug.log
StyleGuide/yarn-error.log

# IDEs and editors
StyleGuide/.idea/
StyleGuide/.project
StyleGuide/.classpath
StyleGuide/.c9/
StyleGuide/*.launch
StyleGuide/.settings/
StyleGuide/*.sublime-workspace

# Visual Studio Code
StyleGuide/.vscode/*
StyleGuide/!.vscode/settings.json
StyleGuide/!.vscode/tasks.json
StyleGuide/!.vscode/launch.json
StyleGuide/!.vscode/extensions.json
StyleGuide/.history/*

# Miscellaneous
StyleGuide/.angular/cache
StyleGuide/.sass-cache/
StyleGuide/connect.lock
StyleGuide/coverage
StyleGuide/libpeerconnection.log
StyleGuide/testem.log
StyleGuide/typings

# System files
StyleGuide/.DS_Store
StyleGuide/Thumbs.db
