<app-header [navigated]="true"></app-header>
  <div class="overlay" id="overlay appOnePopup"></div>
  
  <div class="page-content">
    <h2 class="text-align texa-c margin mar-lgT">Frequently Asked Questions</h2>
    <hr class="margin mar-mdT mar-lgB" />
    <div class="content con-mdMax margin mar-autoHr">
      <p>
        Welcome to our Frequently Asked Questions section. Here, we address
        common queries to provide you with swift answers and clarity. If you
        don't find what you're looking for, feel free to reach out to our
        support team.
      </p>
      <br />
      <h5>
        <strong>Edge Browser Instructions for Internet Explorer Mode</strong>
      </h5>
      <ul class="margin mar-lgL">
        <li>
          <a
            href="EdgeIEBOL.pdf"
            target="_blank"
            rel="noopener external noreferrer"
            >EdgeIEBOL.pdf<strong></strong
          ></a>
        </li>
      </ul>

      <hr />

      <h5><strong>NPC Document Services</strong></h5>
      <ul class="margin mar-lgL">
        <li>
          <a
            href="ConfigurationInstructionsForNPCDocumentServices.pdf"
            target="_blank"
            rel="noopener external noreferrer"
            ><strong
              >Configuration Instructions For NPC Document Services</strong
            ></a
          >
        </li>
      </ul>

      <hr />

      <h5><strong>DOC SVS</strong></h5>
      <ul class="margin mar-lgL">
        <li>
          <a
            href="https://www.mynavyhr.navy.mil/Career-Management/Boards/Selection-Board-Support/"
            target="_blank"
            rel="noopener external noreferrer"
            ><strong>Selection Board Support (navy.mil)</strong></a
          >
        </li>
        <li>
          <a
            href="https://www.mynavyhr.navy.mil/Career-Management/Boards/Active-Duty-Officer/"
            target="_blank"
            rel="noopener external noreferrer"
            ><strong>Active Duty Officer (navy.mil)</strong></a
          >
        </li>
        <li>
          <a
            href="ESSBD USER GUIDE (v5).pdf"
            target="_blank"
            rel="noopener external noreferrer"
            ><strong>ESSBD USER GUIDE (v5)</strong></a
          >
        </li>
        <li>
          <a
            href="BOL DD214 Troubleshooting Guide.pdf"
            target="_blank"
            rel="noopener external noreferrer"
            ><strong>DD214 Troubleshooting Guide </strong></a
          >
        </li>
        <li class="list-unstyled">
          <h6><strong>DOC SVS Related Applications</strong></h6>
          <ul class="margin mar-lgL">
            <li>
              <a
                href="https://www.mynavyhr.navy.mil/Career-Management/Boards/"
                target="_blank"
                rel="noopener external noreferrer"
                ><strong>ESSBD</strong></a
              >
            </li>
            <li>
              <a
                href="https://www.mynavyhr.navy.mil/Career-Management/Records-Management/Decorations-and-Medals/"
                target="_blank"
                rel="noopener external noreferrer"
                ><strong>NDAWS</strong></a
              >
            </li>
            <li>
              <a
                href="https://www.mynavyhr.navy.mil/Career-Management/Records-Management/Military-Personnel-Records/Officer-Record-Update/"
                target="_blank"
                rel="noopener external noreferrer"
                ><strong>Officer Photo</strong></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="spacer spa-md"></div>
    
      <app-drawer
        [open]="false"
        *ngFor="let question of questions"
        title=""
        displayName=""
        drawer_handle="drah-md gap gap-sm padding-focus padf-mdHr padf-lgMinHr"
        drawer=""
        icon="ico-sm ico-carret-d"
      >
      <div class="drawer-handle-content">
        <h3>Q:{{ question.question }}</h3>
       </div>
        <div
          class="drawer-content fle-align-start grid gri-xl gap gap-md gri-justifyContent-center content con-lgMax margin mar-lgVr mar-autoHr"
        >        
        <h3>A: {{ question.answer }}</h3>
          
        </div>
        
      </app-drawer>
      <hr>
    </div>
