
//Functions
@function invert-lightness($fcolor) {
$h: hue($fcolor);
$s: saturation($fcolor);
$l: lightness($fcolor);
$invL: 100% - $l;
@return hsl($h, $s, $invL);
}

//Colors
$base: hsl(0, 0%, 100%);
$baseInv: invert-lightness($base);
$base33: color-mix(in srgb, $base 33%, $baseInv 66%);
$base66: color-mix(in srgb, $base 66%, $baseInv 33%);
$base25: color-mix(in srgb, $base 25%, $baseInv 75%);
$base50: color-mix(in srgb, $base 50%, $baseInv 50%);
$base75: color-mix(in srgb, $base 75%, $baseInv 25%);
$base10: color-mix(in srgb, $base 10%, $baseInv 90%);
$base15:color-mix(in srgb, $base 15%, $baseInv 85%);
$base85:color-mix(in srgb, $base 85%, $baseInv 15%);
$base90: color-mix(in srgb, $base 90%, $baseInv 10%);

// $highlight: 
// $base66
// $base25
// $base50
// $base75

// Function to invert the color


$baseAlt: hsl(0, 0%, 0%);
$basegray: hsl(0, 0%, 83%);
$darkgray: hsl(0, 0%, 15%);
$mediumgray: hsl(0, 0%, 34%);
$highlight:	hsl(213,69.8%,48%);

// $overlay: hsla(0, 0, 0, 30%);
$primary: lighten($highlight, 25%);
$secondary: hsl(0, 0%, 70%);
$lightgray: hsl(0, 0%, 92%);





:root {
    --thumbW: .5rem;
    --thumbH: .5rem;
    --thumbX: 50%;
    --thumbY: 50%;

    --buttonH: 2rem;

    --padXxs: .25rem;
    --padXs: .5rem;
    --padSm: .75rem;
    --padMd: 1rem;
    --padLg: 3rem;
    --padXl: 5rem;
    --padXxl:10rem;

    --padfMin: 1rem;

    --marXxs: .25rem;
    --marXs: .5rem;
    --marSm: .75rem;
    --marMd: 1rem;
    --marLg: 3rem;
    --marXl: 5rem;
    --marXxl: 10rem;

    --userColor: red;

}