.red{
    background-color: red !important;
}
// .cell{
//     background-color: red !important;
// }
.redd{
    color: red;
}
.yellow{
    background-color: yellow !important;
}
.ofh{
    overflow: hidden;
}
.blue{
    background-color: blue;
}
.testa{
display: inline-block;
background-color:green;
padding: 2rem;
}
.testb{
    background-color: teal;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.testc{
    display: inline-flex;
    justify-content: center;
}
.testd{
    flex-direction: column;
    display: flex;
    align-items: center;
}
