//functions
@function invert-lightness($fcolor) {
    $h: hue($fcolor);
    $s: saturation($fcolor);
    $l: lightness($fcolor);
    $invL: 100% - $l;
    @return hsl($h, $s, $invL);
}

//mixins (color schemes)
@mixin textcolor($c: pink) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    strong,
    i,
    em,
    mark,
    small,
    del,
    ins,
    sub,
    sup,
    time,
    .icon,
    button {
        color: $c;
    }

}

@mixin theme($theme: default) {

    //default null all colors to prevent error
    //and indicate if no theme is applied

    $base: null;
    $primary: null;

    @if $theme==default {
        $base: hsl(0, 0%, 100%);

        $primary: hsl(213, 100%, 64%);
    }

    @if $theme==dark {
        $base: hsl(0, 0%, 3%);

        $primary: hsl(266, 57%, 49%);
    }

    $success: hsl(129, 67%, 41%);

    $baseInv: invert-lightness($base);
    $base33: color-mix(in srgb, $base 33%, $baseInv 66%);
    $base66: color-mix(in srgb, $base 66%, $baseInv 33%);
    $base25: color-mix(in srgb, $base 25%, $baseInv 75%);
    $base50: color-mix(in srgb, $base 50%, $baseInv 50%);
    $base75: color-mix(in srgb, $base 75%, $baseInv 25%);
    $base10: color-mix(in srgb, $base 10%, $baseInv 90%);
    $base15: color-mix(in srgb, $base 15%, $baseInv 85%);
    $base85: color-mix(in srgb, $base 85%, $baseInv 15%);
    $base90: color-mix(in srgb, $base 90%, $baseInv 10%);

    $warn: hsl(39, 76%, 49%);




    $userColor: null;
    $userColor: var(--userColor);

    @include textcolor($baseInv);

    a {
        color: $primary;
    }

    .text-danger {
        color: red;
    }

    .spacer {
        opacity: 0 !important;
    }

    .page-content {
        background-color: $base;
    }

    .left-fade {
        background-image: linear-gradient(to right, $base, transparent);
    }

    .right-fade {
        background-image: linear-gradient(to left, $base, transparent);
    }

    [class*='foco-'][class$='R'] {
        background-image: linear-gradient(to left, $base, transparent);
    }

    [class*='foco-'][class$='L'] {
        background-image: linear-gradient(to right, $base, transparent);
    }

    .overlay {
        background-color: $base50;
    }

    .drawer-handle {
        background-color: $base90;
        box-shadow: 0px 2px .15rem 0px rgba(0, 0, 0, 0.228);

        &:hover {
            background-color: $base85;
        }

        &:active {
            transition-property: background-color .2s;
            background-color: $base90;
        }

        &>input:checked+.icon {
            transition-property: color .2s;
            color: $primary;
        }
    }

    .nav.nav-main,
    nav.nav-main {
        transition: background-color 1s, box-shadow .25s;


        background-color: $base85;
        color: $base10;

        &.scrolled {
            background-color: $base;

            box-shadow: 0px 2px 1rem 0px rgba(0, 0, 0, 0.383);
        }
    }

    .nav,
    nav {
        background-color: transparent;
    }

    &.theme-dark {

        .nav,
        nav {
            &.scrolled {
                background-color: $base90;
            }
        }
    }

    footer {
        background-color: $base;
    }

    .div-highlight {
        background-color: $primary;
        @include textcolor($base);
    }

    .div-base90 {
        background-color: $base90;
    }

    .base {
        background-color: $base;
    }

    .base-color {
        color: $base;
    }

    .base10 {
        background-color: $base10;
    }

    .base15 {
        background-color: $base15;
    }

    .base25 {
        background-color: $base25;
    }

    .base33 {
        background-color: $base33;
    }

    .base50 {
        background-color: $base50;
    }

    .base66 {
        background-color: $base66;
    }

    .base75 {
        background-color: $base75;
    }

    .base85 {
        background-color: $base85;
    }

    .base90 {
        background-color: $base90;
    }

    .baseInv {
        background-color: $baseInv;
    }

    .success {
        background-color: $success;
    }

    hr {
        border-color: $base85;
    }

    .hr-highlight {
        border-color: $primary;
    }

    .hr-base90 {
        border-color: $base90;
    }

    .ico-color {
        color: rgb(83, 83, 69) !important;
    }

    button {
        &.base {
            background-color: $base;
            @include textcolor($base33);

            &:hover {
                background-color: $primary;
                @include textcolor($base);

            }

            &:active {
                background-color: color-mix(in srgb, $primary, $baseInv);
                @include textcolor($base);
            }
        }

        &.secondary {

            background-color: $base75;
            @include textcolor($base10);

            &:hover {
                background-color: color-mix(in srgb, $base75 75%, $baseInv);
                @include textcolor($base);

            }

            &:active {
                background-color: color-mix(in srgb, $base75, $baseInv);
                @include textcolor($base);
            }

        }

        &.primary,
        .primary.link-as-button {

            background-color: color-mix(in srgb, $primary 55%, $base);
            @include textcolor($base10);
            color: $base10;

            &:hover {
                background-color: color-mix(in srgb, $primary 75%, $baseInv);
                @include textcolor($base);
                color: $base;
            }

            &:active {
                background-color: color-mix(in srgb, $primary, $baseInv);
                @include textcolor($base);
                color: $base;
            }

            &.disabled {
                background-color: $base50;
            }

        }
        &.warn,
        .warn.link-as-button {
            background-color: $warn;
            @include textcolor($base10);
            color: $base10;

            &:hover {
                background-color: color-mix(in srgb, $warn 75%, $baseInv);
                @include textcolor($base10);
                color: $base;
            }

            &:active {
                background-color: color-mix(in srgb, $warn, $baseInv);
                @include textcolor($base10);
                color: $base;
            }

            &.disabled {
                background-color: $base50;
            }
        }
    }








    button.user-color {
        background-color: $userColor;
        @include textcolor(white);

        &:hover {
            background-color: color-mix(in srgb, $userColor 80%, $baseInv 20%);
        }

        &:active {
            background-color: color-mix(in srgb, $userColor 60%, $baseInv 40%);
        }
    }

    .card {
        box-shadow: 0px 0px 0px 1px $base75 inset;
        background-color: $base;
        // @include textcolor($base15);

    }


    .thumb {
        background-color: rgb(94, 205, 142);
        @include textcolor($base);
    }

    .menu {
        background-color: $base;
        box-shadow: 0 0.1rem .8rem -0.3rem black;
    }

    .selector {

        background-color: $base;

        &:hover {
            background-color: $primary;
        }
    }

    .toggle {
        background-color: $base85;

        &>span {
            background-color: $base;
        }

        input[type="checkbox"]:checked+span {
            background-color: $primary;
        }

    }

    .ring {
        outline-color: $primary;
    }



    //IMPORTANT 
    .icon:before {
        color: inherit;
    }


}

//classes - used to bind class name to theme in mixin
//blank results in default theme
.theme-default {
    @include theme();
}

.theme-dark {
    @include theme(dark);
}