
:root {
    --thumbW: .5rem;
    --thumbH: .5rem;
    --thumbX: 50%;
    --thumbY: 50%;

    //this variable is used to allow for button circle 
    --buttonW: 2rem;

    --padXxs: .25rem;
    --padXs: .5rem;
    --padSm: .75rem;
    --padMd: 1rem;
    --padLg: 3rem;
    --padXl: 5rem;
    --padXxl:10rem;

    // A flexible variable used to set min padding in an equation 
    --padfMin: 1rem;

    --marXxs: .25rem;
    --marXs: .5rem;
    --marSm: .75rem;
    --marMd: 1rem;
    --marLg: 3rem;
    --marXl: 5rem;
    --marXxl: 10rem;

    --celXxs: 6rem;
    --celXs: 9rem;
    --celSm: 13rem;
    --celMd: 25rem;
    --celLg: 37rem;
    --celXl: 50rem;
    --celXxl: 75rem;

    --userColor: red;

}
