//TO DO ------------------------
//transitions vars
//w1-10 h1-10 manual overrides
//themes 
// GRID SIZE PRESETS BASED ON REM WIDTh

// DONE stacking context of overlay - possibly remove global overlay for relative one
// DONE z index with button related to overlay needs to be higher and so do all other buttons of that type? 
// DONE Figure out what "wrapper" and preset naming convention works best so it can be used on popups in diferent contexts

//change drawer icon class identifier when icons are fixed

 // padding-left: calc((100% - (calc(floor(100% / 7rem) * 7rem))) * 2); RANDOM IDEA

//fix homebutton code
//correct naming convention for vertical horizontal etc 
//remake presets
// Username letter generation for profile icon / make username variable
//------------------------------

//PRE

@use 'variables' as v;
@use 'presets';


//COMPONENTS

@use 'components/buttons';
@use 'components/cards';
@use 'components/dropdowns';
@use 'components/footers';
@use 'components/icons';
@use 'components/images';
@use 'components/inputs';
@use 'components/layouts';
@use 'components/lines';
@use 'components/overlays';
@use 'components/searchboxes';
@use 'components/text';
@use 'components/menus';
@use 'components/wrappers';
@use 'components/navigations';
@use 'test';

//POST

@use 'modifiers';
@use 'themes' as th;



//ROOT
:root {

    //Temporary solution?
    font-size: 16px;

    @media screen and (max-width: 450px) {
        font-size: 12px;
    }

    @media screen and (max-width: 345px) {
        font-size: 10px;
    }
}

//GLOBAL PROPERTIES
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // padding-top: 3rem;
    height: auto;
}

.user-name{
    display: none;
}