<div class=" card car-xsH pill pill-sm ring flex fle-centerVr fle-rowreverse">

    <div class="thumb thu-ml thu-lg thu-fullH flex fle-centerVr padding pad-mdL" id="appColor-Sample2">
        <span class="icon ico-sm ico-PLACEHOLDER"></span>
    </div>

    <a href=""  
        class="link-nostyle select sel-none padding pad-lgHr position pos-absolute flex fle-centerVr">
        <h5>{{title()}}</h5>
    </a>

    <button class="but-base but-circle position pos-absolute margin mar-smR"
        (click) = "popupClicked.emit()"><span
            class="icon ico-sm ico-PLACEHOLDER"></span></button>

</div>