<div class="card car-xxsVr pill pill-sm ring position pos-relative flex fle-centerVr fle-rowreverse">

    <div class="thumb thu-ml thu-lg thu-fullH flex fle-centerVr padding pad-mdL" id="appColorTile">
        <span class="icon ico-sm ico-th"></span>
    </div>

    <a href=""
        class="link-nostyle text-select texs-none content con-full position pos-absolute flex fle-centerVr">
        <div class="cell cel-sm padding pad-lgHr margin mar-xxsL">
            <h5>{{title()}}</h5>
        </div>
    </a>

    <button class="base but-circle margin mar-smR position pos-absolute"
        (click) = "cardClicked.emit()"><span
            class="icon ico-sm ico-ellipsis-vr"></span></button>
</div>