<!-- 
<div class="search-dropdown content con-100p">
    <input type="text" autocomplete="off" class="inp-fullHr pill padding pad-smHr" (click)="showdropdown = true" value="{{this.currentSelection.name}}">
    <div class="search-dropdown-icon padding pad-smHr">
        <span class="icon ico-sm ico-carret-l"></span>
    </div>
    <div class="position pos-absolute content con-100p" *ngIf="showdropdown" style="z-index: 99;">
        <div class="menu men-full margin mar-xsT pill pil-sm">
            <div class="spacer spa-xxs"></div>
            <ul class="content con-xxsMaxVr con-scrollY">
                <li *ngFor="let option of options()" (click)="onSelect(option)">
                    <a class="selector padding pad-xsHr">{{option.name}}</a>
                    <hr>
                </li>
            </ul>
            <div class="spacer spa-xxs"></div>
        </div>
    </div>
</div>
@if(showdropdown)
{
    <div class="overlay visible" style="z-index: 98;" (click)="showdropdown = false;">

    </div>
} -->

<select class="pill">
    @for(option of options(); track option)
    {
        <option class="pill" value="{{option.value}}">{{option.name}}</option>
    }
</select>