<app-drawer *ngFor="let group of groups" title=""
    drawer_handle="secondary-alt drah-sm gap gap-sm padding-focus padf-lgHr padf-lgMinHr" drawer="field-alt"
    [closed]="true" icon="ico-sm ico-carret-d">
    <div class="drawer-handle-content">
        <h5>{{group.group}}</h5>
    </div>
    <div
        class="drawer-content grid gri-sm gap gap-md gri-justifyContent-center content con-lgMax margin mar-lgVr mar-autoHr">
        <div *ngFor="let app of group.apps">
            <app-card [title]="app.title" [thumbcolor]="app.color" (cardClicked)="showApp(app)"> </app-card>
            @if(app.show)
            {
                <!--ClosePopup: emits a signal to bind to when the close button is clicked, parent components responsibility to close it-->
                <!--icon input is meant to recieve css classed to style the icon, "icon" class is already there, add extras to control the size,
                color, and style of the icon -->
                <app-popup (closePopup)="app.show = false" popupTitle="App Details" [bodyTitle]="app.title" icon="ico-md ico-th ico-color">
                    <!--Give a div of class "popup-body" to inject that div into the body of the popup-->
                    <div class="popup-body">
                        {{app.description}}
                    </div>
                    <!--Give a div of class "popup-foot" to inject that div into the foot of the popup, 
                    it will be within the footer, under a horizontal line, flex fit to flex-end-->
                    <div class="popup-footer">
                        <button class="but-sm primary padding pad-mdHr pill">Launch App</button>
                    </div>
                </app-popup>
            }
        </div>
    </div>
</app-drawer>
<hr>
<div class="spacer spa-lg"></div>

    <!-- 
    ░█▄█░█▀█░█▀▄░█▀█░█░░░█▀▀
    ░█░█░█░█░█░█░█▀█░█░░░▀▀█
    ░▀░▀░▀▀▀░▀▀░░▀░▀░▀▀▀░▀▀▀ -->

    <!-- <div class="popup pop-center" id="target appOnePopup">

        <div class="card car-lg car-shadow pill pil-sm flex fle-column">
            <header class="padding pad-sm flex fle-space-between fle-centerVr">
                <h4>App Details</h4>
                <button class="but-xxs secondary ghost but-circle" id="close appOnePopup"><span class="but-element icon ico-sm ico-closeX "></span></button>

            </header>
            <hr class="margin mar-mdHr">

            <div class="link-nostyle content con-scrollY-auto padding pad-lgHr pad-mdVr">

                <div class="flex fle-centerVr gap gap-sm fle-wrap">

                    <span class="icon ico-md ico-th ico-color"></span>
                    <div>
                        <h4>App Title</h4>
                        <h4>Sub Heading</h4>
                    </div>

                </div>

                <p class="margin mar-md mar-noneHr">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio sint quis repellendus nam
                    ipsam autem aspernatur quaerat, est delectus. Id consequuntur, fugit similique quibusdam dicta
                    dolorum velit corporis alias quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Necessitatibus tempore exercitationem ex distinctio esse dolor corporis numquam nesciunt
                    consectetur! Ullam unde distinctio repellat ab quos. Earum error porro laboriosam iste?

                </p>


            </div>

            <hr class="margin mar-mdHr">

            <footer class=" padding pad-sm flex fle-end gap gap-sm ">

                <button class=" but-sm primary padding pad-mdHr pill">Launch App</button>

            </footer>

        </div>

    </div>
    <div class="overlay" id="overlay appOnePopup"></div> -->


<!-- 
    ░█▀▀░█▀▀░█▀▄░▀█▀░█▀█░▀█▀░█▀▀
    ░▀▀█░█░░░█▀▄░░█░░█▀▀░░█░░▀▀█
    ░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░░░░▀░░▀▀▀ -->

<!-- toggle Popup -->
<script src="../js/toggles/togglePopup.js"></script>

<!-- toggle Active class -->
<script src="../js/toggles/toggleActive.js"></script>

<!-- scroll Fx -->
<script src="../js/toggles/scrollFx.js"></script>

<!-- user color -->
<script src="../js/colors/userColor.js"></script>

<!-- dark mode -->
<script src="../js/toggles/toggleDarkMode.js"></script>


<!-- app tile color -->
<script src="../js/colors/appTileColor.js"></script>

<!-- disable -->
<script src="../js/toggles/toggleDisplay.js"></script>
