<app-header></app-header>
<div class="page-wrapper">
  <div class="spacer spa-sm"></div>
  <div class="page-content">
    <app-drawer
      *ngFor="let group of groups"
      title="GroupA"
      displayName="{{ group.group }}"
      drawer_handle="padding pad-smVr pad-smHr gap gap-sm"
      drawer=""
      icon="ico-sm ico-carret-d"
    >
      <div
        class="fle-align-start grid gri-sm gap gap-md gri-justifyContent-center content con-lgMax margin mar-lgVr mar-autoHr"
      >
        <div *ngFor="let app of group.apps">
          <app-card [title]="app.title" [thumbcolor]="app.color" (cardClicked)="test(app)"> </app-card>
          <app-popup *ngIf="app.show" (closePopup)="app.show = false">
            <div class="title">
              {{ app.title }}
            </div>
            <div class="body-icon-header">
              <span [ngStyle]="{'color':(app.color)}" class="icon ico-md ico-th"></span>
            </div>
            <div class="body-header">Header</div>
            <div class="body-sub-header">SubHeader</div>
            <div class="body">
              {{ app.description }}
            </div>
            <div class="foot padding pad-sm flex fle-end gap gap-sm">
              <button class="but-square secondary pill pil-xs">A</button>
              <button class="but-square secondary pill pil-xs">B</button>
              <button class="but-md primary padding pad-mdHr pill pil-xs">
                Launch App
              </button>
            </div>
          </app-popup>
        </div>
      </div>
    </app-drawer>
  </div>
  <div class="spacer spa-lg"></div>
  <app-footer></app-footer>
</div>
