<!DOCTYPE html>
<html lang="en">

<!-- apply theme to link-nostyle body -->

<body class="theme-default">
    <img alt="Backgound image of the blue sea with Navy boat." class="background-image" src="../../../assets/images/loginBackground.jpg">
    <div class="spacer spa-sm"></div>
    <div class="page-content hide-bg">
        <!-- <img alt="Backgound image of the blue sea with Navy boat." class="background-image" src="../../../assets/images/loginBackground.jpg"> -->
        <div class="menu men-lg pill pil-sm flex fle-column margin mar-autoHr mar-lgT mar-xlB">
            <header class="padding pad-md flex fle-space-between fle-centerVr">
                <h4>Welcome to BOL!</h4>
            </header>
            <hr class="margin mar-mdHr">

            <div class="link-nostyle content con-scrollY-auto padding pad-lgHr pad-mdVr">

                <h2 class="text-align texa-c padding pad-lgHr text-danger">US DEPARTMENT OF DEFENSE
                    WARNING STATEMENT </h2>

                <p class="margin mar-md mar-noneHr">
                    You are accessing a U.S. Government (USG) Information System (IS) that is provided for
                    USG-authorized use only. By using this IS (which includes any device attached to this IS), you
                    consent to the following conditions
                    <br>
                    <br>
                    • The USG routinely intercepts and monitors communications on this IS for purposes including, but
                    not
                    limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel
                    misconduct (PM), law enforcement (LE), and counterintelligence (CI) investigations.
                    <br>
                    <br>
                    • At any time, the USG may inspect and seize data stored on this IS.
                    <br>
                    <br>
                    • Communications using, or data stored on, this IS are not private, are subject to routine
                    monitoring, interception, and search, and may be disclosed or used for any USG -authorized purpose.
                    <br>
                    <br>
                    • This IS includes security measures (e.g., authentication and access controls) to protect USG
                    interests--not for your personal benefit or privacy.
                    <br>
                    <br>
                    • Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative
                    searching or monitoring of the content of privileged communications, or work product, related to
                    personal representation or services by attorneys, psychotherapists, or clergy, and their assistants.
                    Such communications and work product are private and confidential. See User Agreement for details.
                </p>


            </div>
         
            <hr class="margin mar-mdHr">

            <footer class="padding pad-md flex fle-end gap gap-xs">
                <div class="flex fle-centerVr gap  base90 padding pad-mdHr pill ghost gho-transXxs">
                    <label for="check-cacLogin">I Understand</label>
                    <input type="checkbox" id="check-cacLogin" (change)="acceptedBanner = !acceptedBanner">
                </div>

                <button [ngClass]="{disabled:!acceptedBanner}" [disabled]="!acceptedBanner" class="but-md primary padding pad-mdHr pill"  id="btn-cacLogin" (click)="logon()">CAC Login</button>
            </footer>

        </div>

    </div>
    <div class="spacer spa-xxl"></div>
    <div class="spacer spa-xxl"></div>
    <div class="spacer spa-xxl"></div>

    
</body>
<!-- toggle dropdown -->
<script src="../js/toggles/togglePopup.js"></script>

<!-- toggle Active class -->
<script src="../js/toggles/toggleActive.js"></script>

<!-- scroll Fx -->
<script src="../js/toggles/scrollFx.js"></script>

<!-- user color -->
<script src="../js/colors/userColor.js"></script>

<!-- toggle disabled -->
<script src="../js/toggles/toggleDisable.js"></script>

</html>