<footer>
    <hr class="hr-sm hr-base90">
    <div class="flex fle-space-between fle-wrap margin mar-autoHr padding pad-mdHr">
        <div class=" margin mar-autoHr mar-smVr">
            <div class="flex">
                <div class="cell cel-sm text-align texa-r padding pad-xsVr position pos-relative">
                    <div class="position pos-absolute flex gap gap-sm right-edge to-left">


                        <h1>BUPERS <br> ONLINE</h1>
                        <img src="../../../assets/images/Seal_of_the_Bureau_of_Naval_Personnel.png" style="height: 4rem;">
                    </div>
                </div>
                <hr class="margin mar-smHr">
                <div class="flex fle-centerHr gap fle-column cell cel-sm padding pad-xsVr">
                    <b><a href="applist.html">Application List</a></b>

                    <b><a href="">Messages</a></b>

                    <b><a href="../Pages/help.html">Help</a></b>
                </div>
            </div>

        </div>

        <div class=" margin mar-autoHr mar-smVr">
            <div class="flex">
                <div class="cell cel-sm text-align texa-r padding pad-xsVr">
                    <h4>Help Desk</h4>
                </div>
                <hr class="margin mar-smHr">
                <div class="cell cel-sm padding pad-xsVr">
                    <p>
                        1-800-951-NAVY
                    </p>
                    <b><a href="mailto:Bupers07_IT_EOC.FCT@navy.mil">
                            Bupers07_IT_EOC.FCT<br>&#64;navy.mil
                        </a></b>

                </div>
            </div>
            <div class="flex">
                <div class="cell cel-sm text-align texa-r padding pad-xsVr">
                    <h4>Hours</h4>
                </div>
                <hr class="margin mar-smHr">
                <div class="cell cel-sm padding pad-xsVr">
                    <p>
                        Monday - Friday <br>
                        0600 - 1700 Central
                    </p>

                </div>
            </div>
        </div>

        <div class=" margin mar-autoHr mar-smVr">
            <div class="flex">
                <div class="cell cel-sm text-align texa-r padding pad-xsVr">
                    <h4>User</h4>
                </div>
                <hr class="margin mar-smHr">
                <div class="cell cel-sm padding pad-xsVr">
                    <b><a href="caclogin.html">End Session</a>
                        <br>
                        <a href="updateinfo.html">Update Info</a></b>
                </div>
            </div>
            <div class="flex">
                <div class="cell cel-sm text-align texa-r padding pad-xsVr">
                    <h4>Last Seen</h4>
                </div>
                <hr class="margin mar-smHr">
                <div class="cell cel-sm padding pad-xsVr">
                    <time>Month DDth, YYYY</time><br>
                    <time>HH:MM:SS AM</time>
                </div>
            </div>
        </div>
    </div>

    <div class="div-base90 flex fle-space-between fle-wrap margin mar-autoHr padding pad-mdHr">
        <div class="flex  flex  fle-space-between margin mar-autoHr mar-mdVr text-align texa-c ">
            <a class="text-wrap texw-nowrap margin mar-smHr">NCIS Tips</a>
            <a class="text-wrap texw-nowrap margin mar-smHr">24/7 Suicide Prevention</a>
            <a class="text-wrap texw-nowrap margin mar-smHr">Safe Helpline</a>
        </div>
        <div class="flex  flex  fle-space-between margin mar-autoHr mar-mdVr text-align texa-c">
            <a class="text-wrap texw-nowrap margin mar-smHr">For Official Use Only</a>
            <a class="text-wrap texw-nowrap margin mar-smHr">Privacy Policy</a>
            <a class="text-wrap texw-nowrap margin mar-smHr" src="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank" >Accessibility/Section 508</a>
        </div>
        <div class=" text-align  margin mar-autoHr mar-mdVr texa-c">
            <p>5720 Integrity Drive Millington, TN 38055-0000</p>
        </div>
    </div>
    <div class="div-base90 text-align texa-c padding pad-mdVr">
        <p>Version: 1.00.00.00</p>
    </div>
</footer>
