<!-- ░█▀▀░█▀█░█▀█░▀█▀░█▀▀░█▀▄
         ░█▀▀░█░█░█░█░░█░░█▀▀░█▀▄
         ░▀░░░▀▀▀░▀▀▀░░▀░░▀▀▀░▀░▀ -->

<footer class="field">
    <hr class="hr-xs">
    <!-- footer top section -->
    <div class="element magic mag-3Max mag-lg mag-standardFlow">
        <div class="magic-parent flex fle-justifyContent-spaceAround gap padding pad-md">

            <!-- section left (Application List, Messages, Help)-->
            <div class="magic-child flex fle-flipflop">
                <!-- logo -->
                <header class="content con-100p flex fle-justifyContent-end fle-wrap gap padding pad-sm">
                    <h1>BUPERS <br> ONLINE</h1>
                    <img src="../assets/Seal_of_the_Bureau_of_Naval_Personnel.png"
                        alt="Seal of the Bureau of Naval Personnel" style="height: 6rem;">
                </header>
                <hr>
                <!-- right links -->
                <div class="content con-100p flex fle-column fle-justifyContent-spaceAround padding pad-sm">
                    <a href="" class="link">Application List</a>

                    <a href="" class="link">Messages</a>

                    <a href="" class="link">Help</a>
                </div>
            </div>
            <!-- section center (Help Desk, Hours)-->
            <div class="magic-child flex fle-column">
                <!-- top half -->
                <div class="flex fle-flipflop">
                    <!-- left header -->
                    <header class="content con-100p text-align texa-r padding pad-sm ">
                        <h4>Help Desk</h4>
                    </header>
                    <hr>
                    <!-- right text -->
                    <div class="content con-100p flex fle-column fle-justifyContent-spaceAround padding pad-sm ">
                        <p>1-800-951-NAVY</p>
                        <a class="link word-break" href="">Bupers07_IT_EOC.FTC&#64;navy.mil</a>
                    </div>
                </div>
                <!-- bottom half -->
                <div class="flex fle-flipflop">
                    <!-- left header -->
                    <header class="content con-100p text-align texa-r padding pad-sm">
                        <h4>Hours</h4>
                    </header>
                    <hr>
                    <!-- right text -->
                    <div class="content con-100p padding pad-sm ">
                        <p>Monday - Friday</p>
                        <p>0600 - 1700 Central</p>
                    </div>
                </div>
            </div>
            <!-- section right (User, Last Seen)-->
            <div class="magic-child flex fle-column">
                <!-- top half -->
                <div class="flex fle-flipflop">
                    <!-- left header -->
                    <header class="content con-100p text-align texa-r padding pad-sm">
                        <h4>User</h4>
                    </header>
                    <hr>
                    <!-- right text -->
                    <div class="content con-100p flex fle-column fle-justifyContent-spaceAround padding pad-sm">
                        <a href="" class="link">End Session</a>
                        <a href="" class="link">Update Info</a>
                    </div>
                </div>
                <!-- bottom half -->
                <div class="flex fle-flipflop">
                    <!-- left header -->
                    <header class="content con-100p text-align texa-r padding pad-sm">
                        <h4>Last Seen</h4>
                    </header>
                    <hr>
                    <!-- right text -->
                    <div class="content con-100p padding pad-sm">
                        <p>Month DDth, YYYY</p>
                        <p>HH:MM:SS AM</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer bottom section -->
    <div class="field-alt">

        <div class="element magic mag-3Max mag-lg mag-standardFlow text-align texa-c">
            <div class="magic-parent flex fle-justifyContent-spaceAround gap gap-lg padding pad-md">

                <!-- section left -->
                <div class="magic-child flex fle-flipflop fle-justifyContent-center gap gap-md">
                    <a href="" class="link">NCIS Tips</a>
                    <a href="" class="link">24/7 Suicide Prevention</a>
                    <a href="" class="link">Safe Helpline</a>
                </div>
                <!-- section middle -->
                <div class="magic-child flex fle-flipflop fle-justifyContent-center gap gap-md">
                    <a href="" class="link">For Official Use Only</a>
                    <a href="" class="link">Privacy Policy</a>
                    <a href="" class="link">Accessibility/Section 508</a>
                </div>
                <!-- section right -->
                <div class="magic-child flex fle-justifyContent-center">
                    <p>5720 Integrity Drive Millington, TN 38055-0000</p>
                </div>

            </div>
        </div>

        <!-- version number -->
        <p class="element margin mar-md text-align texa-r">Version 0.000.000</p>
        <hr class="hr-md">
    </div>

</footer>