<nav
        class="navigation nav-main scroll-fx position pos-fixed flex fle-space-between fle-centerVr padding pad-mdHr gap gap-sm ">


        <!-- left wrapper -->
        <div class="flex gap fle-centerVr">

            <!-- home button -->
            <div *ngIf="!navigated"  class="flex gap">
                <span class="icon ico-sm ico-home"></span>
                <h5>Application List</h5>
            </div>
            
                <button *ngIf="navigated" (click)="router.navigate(['home'])" class="but-xxs primary ghost flex fle-alignItems-center fle-justifyContent-center fle-alignSelf-stretch gap padding pad-xsHr">
                    <span class="icon ico-xs ico-carret-l"></span>
                    <span class="icon ico-sm ico-home"></span>
                </button>
                <div  *ngIf="navigated" class="flex gap">

                    <span class="icon ico-sm ico-th"></span>
                    <h5>Help</h5>
                </div>
            
        </div>


        <!-- right wrapper -->
        <div class="flex gap">
            <div class="wrapper-button-popup-pair">
                <button class="highlight user-color base90 but-circle" title="User Profile"
                    (click)="showUserMenu = !showUserMenu">
                    <h3 class="user-first-initial">J</h3>
                </button>
                <div class=overlay id="overlay AAA" (click)="showUserMenu = !showUserMenu" [ngClass]="showUserMenu ? 'visible':''" ></div>
                <div  *ngIf="showUserMenu" [ngClass]="showUserMenu ? 'visible':''" class="popup pop-dropdown edge-right to-left margin mar-mdVr">

                    <div class="menu men-sm pill pil-sm padding pad-smB">
                        <header class="padding pad-xs">
                            <h4>User</h4>

                        </header>
                        <hr class="margin mar-xsHr">

                        <div class="padding pad-xs">
                            <h4 class="user-full-name"></h4>
                            <br>
                            <p><b>Last Seen:</b><br>
                                <time>Month DDth, YYYY</time><br>
                                <time>HH:MM:SS AM</time>
                            </p>
                        </div>
                        <hr class="hr-sm">
                        <ul>
                            <li><a (click)="navigated = !navigated; showOptionsMenu=false;router.navigate(['messages'])" class="selector padding pad-xsHr">Messages</a></li>
                            <hr>
                            <li><a (click)="navigated = !navigated; showOptionsMenu=false;router.navigate(['contact'])" class="selector padding pad-xsHr">Update Info</a></li>
                            <hr>
                            <!--This will have to eventually be made to *actually* log someone out, not just take them to the login-->
                            <li><a (click)="navigated = !navigated; showOptionsMenu=false;router.navigate(['messages'])" class="selector padding pad-xsHr">Log Out</a></li>
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-button-popup-pair">
                <button class="secondary ghost but-circle" title="User Profile" (click)="showOptionsMenu = !showOptionsMenu">
                    <span class = "icon ico-sm ico-ellipsis-vr"></span>
                </button>
                <div class=overlay id="overlay BBB" [ngClass]="showOptionsMenu ? 'visible':''" (click)="showOptionsMenu = !showOptionsMenu"></div>
                <div id="target BBB" [ngClass]="showOptionsMenu ? 'visible':''" class="popup edge-right to-left margin mar-mdVr">
                    <div class="menu men-sm pill pil-sm padding pad-smB">
                        <header class="padding pad-xs">
                            <h4>Options</h4>

                        </header>
                        <hr class="margin mar-xsHr">
                        <div class=men-content>
                            <ul>
                                <li><a (click)="navigated = !navigated; showOptionsMenu=false;router.navigate(['faq'])" class="selector padding pad-xsHr">Help</a></li>
                                <hr>
                                <li><a (click)="navigated = !navigated; showOptionsMenu=false;router.navigate(['contact'])"  class="selector padding pad-xsHr">Contact</a></li>
                                <hr>
                                <li><label for="toggleDarkMode"
                                        class="selector flex fle-space-between fle-centerVr padding pad-xsHr">
                                        <p>Dark Mode</p>
                                        <div class="toggle pill"><input type="checkbox" id="toggleDarkMode"
                                                onclick="toggleDarkMode()"><span class="pill"></span></div>
                                    </label>
                                </li>

                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
