    <!-- Inject User Name here, JS will use it accordingly (Profile Button / Full Name etc)-->
    <span class="user-name" aria-hidden="true">Richard Murray</span>

    <!--░█▀█░█▀█░█░█░▀█▀░█▀▀░█▀█░▀█▀░▀█▀░█▀█░█▀█
        ░█░█░█▀█░▀▄▀░░█░░█░█░█▀█░░█░░░█░░█░█░█░█
        ░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀░▀ -->

    <nav class="nav-main flex fle-space-between gap fle-centerVr scroll-fx">
        <!-- Nav left wrapper -->
        <div class="flex fle-centerVr content con-100pVr">

            <!-- back to home button (visible anywhere but home) -->
            <button class="but-borderless secondary-alt ghost flex fle-centerVr gap gap-xs padding pad-smHr content con-100pVr display dis-none" aria-label="Back to Home" title="Back to Home">
                <span class="but-element icon ico-xs ico-carret-l"></span>
                <span class="but-element icon ico-sm ico-home"></span>
            </button>

            <!-- home title (only visible on home) -->
            <div class="flex fle-centerVr gap gap-xs padding pad-smHr content con-100pVr display ">
                <span class="element icon ico-sm ico-home"></span>
                <h5 class=element>App List</h5>
            </div>

            <!-- \/\/\/\/ additional elements such as tabs here \/\/\/\/ -->

        </div>

        <!-- Nav right wrapper -->
        <div class="flex fle-centerVr gap margin mar-smR content con-100pVr ">

            <!-- user profile button and dropdown-->
            <div class="popup-trigger-pair">
                <!-- button -->
                <button class="popup-trigger but-xxs but-circle primary" title="User Profile" onclick="togglePopup(event, 'user-profile')" aria-label="User Profile Button">
                    <h3 class="user-first-initial but-element element"></h3>
                </button>
                <!-- overlay -->
                <div class=overlay id="overlay user-profile"></div>
                <!-- dropdown wrapper -->
                <div id="target user-profile" class="popup edge-right to-left margin mar-mdVr">
                    <!-- dropdown -->
                    <div class="card car-shadow car-sm pill pil-sm padding pad-smB">

                        <!-- Header -->
                        <header class="car-element padding pad-xs">
                            <h4>User</h4>
                        </header>

                        <hr class="margin mar-xsHr">

                        <!-- Drop down text content -->
                        <div class="car-element padding pad-xs flex fle-column gap">

                            <h4 class="user-full-name"></h4>
                            <br>
                            <b>Last Seen:</b>
                            <time>Month DDth, YYYY</time>
                            <time>HH:MM:SS AM</time>

                        </div>

                        <hr class="hr-sm">

                        <!-- options list -->
                        <ul class="selector-list">
                            <!-- option -->
                            <li class="selector secondary-alt padding pad-xsHr"><a class="car-element sel-element" href="" aria-label="Messages">Messages</a></li>
                            <hr>
                            <!-- option -->
                            <li class="selector secondary-alt padding pad-xsHr"><a class="car-element sel-element" href="" aria-label="Update Info">Update Info</a></li>
                            <hr>
                            <!-- option -->
                            <li class="selector secondary-alt padding pad-xsHr"><a class="car-element sel-element" href="" aria-label="Log Out">Log Out</a>
                            </li>
                            <hr>
                        </ul>

                    </div>

                </div>
            </div>
            <!-- global options button and dropdown -->
            <div class="popup-trigger-pair">
                <!-- button -->
                <button class="popup-trigger but-xxs but-circle secondary ghost" title="User Profile" onclick="togglePopup(event, 'user-options')" aria-label="User Options Button">
                    <span class="but-element icon ico-sm ico-ellipsis-vr"></span>
                </button>
                <!-- overlay -->
                <div class=overlay id="overlay user-options"></div>
                <!-- dropdown wrapper -->
                <div id="target user-options" class="popup edge-right to-left margin mar-mdVr">
                    <!-- dropdown -->
                    <div class="card car-shadow car-sm pill pil-sm padding pad-smB">

                        <!-- header -->
                        <header class="car-element padding pad-xs">
                            <h4>Options</h4>
                        </header>

                        <hr class="margin mar-xsHr">

                        <!-- options list -->
                        <ul class="selector-list">
                            <!-- option -->
                            <li class="selector secondary-alt padding pad-xsHr"><a class="car-element sel-element" href="" aria-label="Help">Help</a></li>
                            <hr>
                            <!-- option -->
                            <li class="selector secondary-alt padding pad-xsHr"><a class="car-element sel-element" href="" aria-label="Contact">Contact</a></li>
                            <hr>
                            <!-- toggle dark mode -->
                            <li><label class="selector secondary-alt flex fle-space-between fle-centerVr padding pad-xsHr" for="toggleDarkMode" aria-label="Toggle Dark Mode">
                                    <p class="car-element sel-element">Dark Mode</p>
                                    <div class="toggle pill"><input type="checkbox" id="toggleDarkMode" onclick="toggleDarkMode()"><span class="pill"></span></div>
                                </label>
                            </li>
                            <hr>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </nav>