//** Card Component Base - A (div) basic container for content.
.card {

    // margin: .5rem;
    border: 1px solid;
    overflow: hidden;
    position: relative;

    //** Card Width Variants
    &.car-xxs {
        width: var(--celXxs);
    }

    &.car-xs {
        width: var(--celXs);
    }

    &.car-sm {
        width: var(--celSm);
    }

    &.car-md {
        width: var(--celMd);
    }

    &.car-lg {
        width: var(--celLg);
    }

    &.car-xl {
        width: var(--celXl);
    }

    &.car-xxl {
        width: var(--celXxl);
    }

    //** Card Height Variants
    &.car-xxsVr {
        height: var(--celXxs);
    }

    &.car-xsVr {
        height: var(--celXs);
    }

    &.car-smVr {
        height: var(--celSm);
    }

    &.car-mdVr {
        height: var(--celMd);
    }

    &.car-lgVr {
        height: var(--celLg);
    }

    &.car-xlVr {
        height: var(--celXl);
    }

    &.car-xxlVr {
        width: var(--celXxl);
    }
}

//** Thumb Component - An (div) ellispe used for styling.
.thumb {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: ellipse(var(--thumbW) var(--thumbH) at var(--thumbX) var(--thumbY));
    background-color: rgb(0, 0, 0);

    //** Thumb Width Variants 
    &.thu-xs {
        --thumbW: .5rem;
        --thumbH: .5rem;
    }

    &.thu-sm {
        --thumbW: 1rem;
        --thumbH: 1rem;
    }

    &.thu-md {
        --thumbW: 1.5rem;
        --thumbH: 1.5rem;
    }

    &.thu-lg {
        --thumbW: 2.8rem;
        --thumbH: 2.8rem;
    }

    &.thu-xl {
        --thumbW: 4rem;
        --thumbH: 4rem;
    }

    //** Thumb Width Variant - Retains thumb height, sets width to 100% (3rd Layer)
    &.thu-full {
        --thumbW: 100%;
    }

    //** Thumb Height Variant - Retains thumb width, sets height to 100%  (3rd Layer)
    &.thu-fullH {
        --thumbH: 100%;
    }

    //** Thumb Possitioning Variant - TL = Top Left, MR = Middle Right, BM = Bottom Middle, etc...
    //** Default possitioning is (mm, or middle middle)
    &.thu-tl {
        --thumbX: 0%;
        --thumbY: 0%;
    }

    &.thu-tm {
        --thumbX: 50%;
        --thumbY: 0%;
    }

    &.thu-tr {
        --thumbX: 100%;
        --thumbY: 0%;
    }

    &.thu-ml {
        --thumbX: 0%;
        --thumbY: 50%;
    }

    &.thu-mm {
        --thumbX: 50%;
        --thumbY: 50%;
    }

    &.thu-mr {
        --thumbX: 100%;
        --thumbY: 50%;
    }

    &.thu-bl {
        --thumbX: 0%;
        --thumbY: 100%;
    }

    &.thu-bm {
        --thumbX: 50%;
        --thumbY: 100%;
    }

    &.thu-br {
        --thumbX: 100%;
        --thumbY: 100%;
    }
}