@import "../variables";
//** Card Component Base - A (div) basic container for content.
.card {

    // margin: .5rem;
    // border: 1px solid;
    // overflow: hidden;
    position: relative;
& header{
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
& footer{
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

    //** Card Width Variants
    &.car-xxs {
        width: $celXxs;
    }

    &.car-xs {
        width: $celXs;
    }

    &.car-sm {
        width: $celSm;
    }

    &.car-md {
        width: $celMd;
    }

    &.car-lg {
        width: $celLg;
    }

    &.car-xl {
        width: $celXl;
    }

    &.car-xxl {
        width: $celXxl;
    }

    //** Card Height Variants
    &.car-xxsVr {
        height: $celXxs;
    }

    &.car-xsVr {
        height: $celXs;
    }

    &.car-smVr {
        height: $celSm;
    }

    &.car-mdVr {
        height: $celMd;
    }

    &.car-lgVr {
        height: $celLg;
    }

    &.car-xlVr {
        height: $celXl;
    }

    &.car-xxlVr {
        width: $celXxl;
    }
    &.car-borderless{
        border: none;
    }
}

//** Thumb Component - An (div) ellispe used for styling.
.thumb {
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: ellipse(var(--thumbW) var(--thumbH) at var(--thumbX) var(--thumbY));
    background-color: rgb(0, 0, 0);
    border-radius: inherit;
    
    //** Thumb Width Variants 
    &.thu-xs {
        --thumbW: .5rem;
        --thumbH: .5rem;
    }

    &.thu-sm {
        --thumbW: 1rem;
        --thumbH: 1rem;
    }

    &.thu-md {
        --thumbW: 1.5rem;
        --thumbH: 1.5rem;
    }

    &.thu-lg {
        --thumbW: 2.8rem;
        --thumbH: 2.8rem;
    }

    &.thu-xl {
        --thumbW: 4rem;
        --thumbH: 4rem;
    }

    //** Thumb Width Variant - Retains thumb height, sets width to 100% (3rd Layer)
    &.thu-full {
        --thumbW: 100%;
    }

    //** Thumb Height Variant - Retains thumb width, sets height to 100%  (3rd Layer)
    &.thu-fullH {
        --thumbH: 100%;
    }

    //** Thumb Possitioning Variant - TL = Top Left, MR = Middle Right, BM = Bottom Middle, etc...
    //** Default possitioning is (mm, or middle middle)
    &.thu-tl {
        --thumbX: 0%;
        --thumbY: 0%;
    }

    &.thu-tm {
        --thumbX: 50%;
        --thumbY: 0%;
    }

    &.thu-tr {
        --thumbX: 100%;
        --thumbY: 0%;
    }

    &.thu-ml {
        --thumbX: 0%;
        --thumbY: 50%;
    }

    &.thu-mm {
        --thumbX: 50%;
        --thumbY: 50%;
    }

    &.thu-mr {
        --thumbX: 100%;
        --thumbY: 50%;
    }

    &.thu-bl {
        --thumbX: 0%;
        --thumbY: 100%;
    }

    &.thu-bm {
        --thumbX: 50%;
        --thumbY: 100%;
    }

    &.thu-br {
        --thumbX: 100%;
        --thumbY: 100%;
    }
}