//** This system imports custom fonts to allow creating icons with (span) tags. 
//** Icons are given a class name and that class applies a code that targets the specific icon.
//** This system uses icomoon to create the custom fonts, but works entirely offline afterwards. 

//** Import font families. 
@font-face {
  //** Local name for font family.
  font-family: 'abcd';
  //** Alternate font imports for different browswer compatibilities. 
  src: url('../fonts/icon packs/test pack/abba.eot') format('embedded-opentype'),
    url('../fonts/icon packs/test pack/abba.ttf') format('truetype'),
    url('../fonts/icon packs/test pack/abba.woff') format('woff'),
    url('../fonts/icon packs/test pack/abba.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  
  //** use !important to prevent issues with browser extensions that change fonts.
  font-family: 'abcd' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //** Improved font rendering.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //** Basic Properties.
  font-size: 3rem;

  //** Icon Sizes.
  &.ico-xs{
    font-size: .5rem;
  }
  &.ico-sm{
    font-size: 1rem;
  }
  &.ico-md{
    font-size: 3rem;
  }
  &.ico-lg{
    font-size: 5rem;
  }
  &.ico-xl{
    font-size: 7rem;
  }

}

//** Place Holder Icon
.ico-PLACEHOLDER:before {
  //Disable screen reader dictation.
  speak: never;
  content: "\e900";
  color: gray;
}