//** This system imports custom fonts to allow creating icons with (span) tags. 
//** Icons are given a class name and that class applies a code that targets the specific icon.
//** This system uses icomoon to create the custom fonts, but works entirely offline afterwards. 

//** Import font families. 
@font-face {
  //** Local name for font family.
  font-family: 'test';
  //** Alternate font imports for different browswer compatibilities. 
  src: url('../../fonts/icon packs/test pack/abba.eot') format('embedded-opentype'),
    url('../../fonts/icon packs/test pack/abba.ttf') format('truetype'),
    url('../../fonts/icon packs/test pack/abba.woff') format('woff'),
    url('../../fonts/icon packs/test pack/abba.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  //** Local name for font family.
  font-family: 'earlypack';
  //** Alternate font imports for different browswer compatibilities. 
  src: url('../../fonts/icon packs/earlyIconPack/earlyiconpack.eot') format('embedded-opentype'),
    url('../../fonts/icon packs/earlyIconPack/earlyiconpack.ttf') format('truetype'),
    url('../../fonts/icon packs/earlyIconPack/earlyiconpack.woff') format('woff'),
    url('../../fonts/icon packs/earlyIconPack/earlyiconpack.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {

  //** use !important to prevent issues with browser extensions that change fonts.
  // font-family: 'test' !important;
  font-family: 'earlypack' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //** Improved font rendering.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //** Basic Properties.
  font-size: 3rem;

  //** Icon Sizes.
  &.ico-xs {
    font-size: .75rem;
    // line-height: .75rem;
  }

  &.ico-sm {
    font-size: 1rem;
    // line-height: 1rem;
  }

  &.ico-md {
    font-size: 3rem;
    // line-height: 3rem;
  }

  &.ico-lg {
    font-size: 5rem;
    // line-height: 5rem;
  }

  &.ico-xl {
    font-size: 7rem;
    // line-height: 7rem;
  }

  speak: never;
  color: gray;
}

//** Place Holder Icon
.ico-PLACEHOLDER:before {
  //Disable screen reader dictation.
  speak: never;
  content: "\e900";
  color: gray;
}

//early pack icons
.ico-carret-d:before {
  content: "\e900";
}

.ico-carret-l:before {
  content: "\e901";
}

.ico-carret-r:before {
  content: "\e902";
}

.ico-carret-u:before {
  content: "\e903";
}

.ico-closeX:before {
  content: "\e904";
}

.ico-ellipsis-hr:before {
  content: "\e905";
}

.ico-ellipsis-vr:before {
  content: "\e906";
}

.ico-home:before {
  content: "\e907";
}

.ico-th:before {
  content: "\e908";
}


.circle {
  border-radius: 100%;

  &.cir-xxs {
    width: .5rem;
    height: .5rem;
  }

  &.cir-xs {
    width: 1rem;
    height: 1rem;
  }

  &.cir-sm {
    width: 2rem;
    height: 2rem;
  }

  &.cir-md {
    width: 3rem;
    height: 3rem;
  }

  &.cir-lg {
    width: 4rem;
    height: 4rem;
  }

  &.cir-xl {
    width: 5rem;
    height: 5rem;
  }

  &.cir-xxl {
    width: 6rem;
    height: 6rem;
  }
}