@import "../variables";
//** Vertical Spacing Component (div)
.spacer {

    //** Default
    height: 5rem;

    //** Variant
    &.spa-xxs {
        height: 1rem;
    }

    &.spa-xs {
        height: 2rem;
    }

    &.spa-sm {
        height: 3rem;
    }

    &.spa-md {
        height: 4rem;
    }

    &.spa-lg {
        height: 5rem;
    }

    &.spa-xl {
        height: 6rem;
    }

    &.spa-xl {
        height: 7rem;
    }
}

//** Content Component - This (div) keeps footer at the bottom of the page. 
//** (Footer is placed IN body OUT of content)
.page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.limit-frameHr{
    max-width: 90vw;
}
.limit-frameVr{
max-width: 90vh;
}
.limit-frame{
max-width: 90vw;
max-height: 90vh;
}
//** Grid Component - (div)
.grid {

    display: grid;

    &.gri-justifyContent-center {
        justify-content: center;
    }

    &.gri-xxs {
        // grid-template-columns: repeat(auto-fill, 5rem);
        grid-template-columns: repeat(auto-fill, $celXxs);
    }

    &.gri-xs {
        // grid-template-columns: repeat(auto-fill, 13rem);
        grid-template-columns: repeat(auto-fill, $celXs);
    }

    &.gri-sm {
        // grid-template-columns: repeat(auto-fill, 20rem);
        grid-template-columns: repeat(auto-fill, $celSm);
    }

    &.gri-md {
        // grid-template-columns: repeat(auto-fill, 30rem);
        grid-template-columns: repeat(auto-fill, $celMd);
    }

    &.gri-lg {
        // grid-template-columns: repeat(auto-fill, 40rem);
        grid-template-columns: repeat(auto-fill, $celLg);
    }

    &.gri-xl {
        // grid-template-columns: repeat(auto-fill, 65rem);
        grid-template-columns: repeat(auto-fill, $celXl);

    }

    &.gri-xxl {
        // grid-template-columns: repeat(auto-fill, 80rem);
        grid-template-columns: repeat(auto-fill, $celXxl);
    }

    &.gri-full {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    &.gri-halves {
        grid-template-columns: repeat(auto-fill, 50%);
    }

    &.gri-thirds {
        grid-template-columns: repeat(auto-fill, 33.33%);
    }

    &.gri-quarters {
        grid-template-columns: repeat(auto-fill, 25%);
    }

    &.gri-fifths {
        grid-template-columns: repeat(auto-fill, 20%);
    }

    &.gri-sixths {
        grid-template-columns: repeat(auto-fill, 16.6666666667%);
    }

    &.gri-sevenths {
        grid-template-columns: repeat(auto-fill, 14.2857142857%);
    }

    &.gri-eighths {
        grid-template-columns: repeat(auto-fill, 12.5%);
    }

    &.gri-nineths {
        grid-template-columns: repeat(auto-fill, 11.1111111111%);
    }

    &.gri-tenths {
        grid-template-columns: repeat(auto-fill, 10%);
    }

    
}
