//** Menu Component - A (div) frame that pairs with different components to create a variety of different menu styles.
.menu {
    //** Max width prevents modal style menus from exceeding the bounds of the monitor.
    max-width: 90vw;
    //** Max height calc also stops very long text bodies from extending forever,
    //** eventually forcing scroll. 
    max-height: calc(min(90vh, 100rem));

    //** Basic properties
    background-color: white;

    overflow: hidden;

    //** Width Variants 
    &.men-xxs {
        width: var(--celXxs);
    }

    &.men-xs {
        width: var(--celXs);
    }

    &.men-sm {
        width: var(--celSm);
    }

    &.men-md {
        width: var(--celMd);
    }

    &.men-lg {
        width: var(--celLg);
    }

    &.men-xl {
        width: var(--celXl);
    }

    &.men-xxl {
        width: var(--celXxl);
    }
    &.men-xxsVr {
        height: var(--celXxs);
    }

    &.men-xsVr {
        height: var(--celXs);
    }

    &.men-smVr {
        height: var(--celSm);
    }

    &.men-mdVr {
        height: var(--celMd);
    }

    &.men-lgVr {
        height: var(--celLg);
    }

    &.men-xlVr {
        height: var(--celXl);
    }

    &.men-xxlVr {
       height: var(--celXxl);
    }

    &.men-fullVr {
        height: 100%;
    }
}

.selector {
    user-select: none;
    background-color: lightgray;
    list-style: none;
    font-size: 0.8125rem;
    padding-left: 1rem;
    padding-right: 1rem;

    text-decoration: none;
    display: flex;

    height: 2rem;
    line-height: 2rem;

}