@import "../variables";

//** Menu Component - A (div) frame that pairs with different components to create a variety of different menu styles.
.menu {
    //** Max width prevents modal style menus from exceeding the bounds of the monitor.
    max-width: 90vw;
    //** Max height calc also stops very long text bodies from extending forever,
    //** eventually forcing scroll. 
    max-height: calc(min(90vh, 100rem));

    //** Basic properties
    background-color: white;

    overflow: hidden;

    //** Width Variants 
    &.men-xxs {
        width: $celXxs;
    }

    &.men-xs {
        width: $celXs;
    }

    &.men-sm {
        width: $celSm;
    }

    &.men-md {
        width: $celMd;
    }

    &.men-lg {
        width: $celLg;
    }

    &.men-xl {
        width: $celXl;
    }

    &.men-xxl {
        width: $celXxl;
    }

    &.men-xxsVr {
        height: $celXxs;
    }

    &.men-xsVr {
        height: $celXs;
    }

    &.men-smVr {
        height: $celSm;
    }

    &.men-mdVr {
        height: $celMd;
    }

    &.men-lgVr {
        height: $celLg;
    }

    &.men-xlVr {
        height: $celXl;
    }

    &.men-xxlVr {
        height: $celXxl;
    }

    &.men-fullVr {
        height: 100%;
    }

    &.men-fullHr {
        width: 100%;
    }

    &.men-full {
        width: 100%;
        height: 100%;
    }

}

.selector {
    user-select: none;
    background-color: lightgray;
    list-style: none;
    font-size: 0.8125rem;

    text-decoration: none;
    display: flex;

    height: 2rem;
    line-height: 2rem;

    //** Size Variants
    &.sel-xxs {
        --selectorH: 1rem;
        line-height: 1rem;
    }

    &.sel-xs {
        --selectorH: 2rem;
        line-height: 2rem;
    }

    &.sel-sm {
        --selectorH: 3rem;
        line-height: 3rem;
    }

    &.sel-md {
        --selectorH: 4rem;
        line-height: 4rem;
    }

    &.sel-lg {
        --selectorH: 5rem;
        line-height: 5rem;
    }

    &.sel-xl {
        --selectorH: 6rem;
        line-height: 6rem;
    }

    &.sel-xxl {
        --selectorH: 7rem;
        line-height: 7rem;
    }

    height: var(--selectorH);

    &.sel-square {
        width: var(--selectorH);
    }

    &.sel-bordered {
        border: 1px solid;
    }


}


.selector-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1px;

    & .selector {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &>input {
            display: none;
        }


    }



}