@import "../variables";

//** Menu Component - A (div) frame that pairs with different components to create a variety of different menu styles.
.menu {
    //** Max width prevents modal style menus from exceeding the bounds of the monitor.
    max-width: 90vw;
    //** Max height calc also stops very long text bodies from extending forever,
    //** eventually forcing scroll. 
    max-height: calc(min(90vh, 100rem));

    //** Basic properties
    background-color: white;

    overflow: hidden;

    //** Width Variants 
    &.men-xxs {
        width: $celXxs;
    }

    &.men-xs {
        width: $celXs;
    }

    &.men-sm {
        width: $celSm;
    }

    &.men-md {
        width: $celMd;
    }

    &.men-lg {
        width: $celLg;
    }

    &.men-xl {
        width: $celXl;
    }

    &.men-xxl {
        width: $celXxl;
    }

    &.men-xxsVr {
        height: $celXxs;
    }

    &.men-xsVr {
        height: $celXs;
    }

    &.men-smVr {
        height: $celSm;
    }

    &.men-mdVr {
        height: $celMd;
    }

    &.men-lgVr {
        height: $celLg;
    }

    &.men-xlVr {
        height: $celXl;
    }

    &.men-xxlVr {
        height: $celXxl;
    }

    &.men-fullVr {
        height: 100%;
    }
    &.men-fullHr {
        width: 100%;
    }
    &.men-full{
        width: 100%;
        height: 100%;
    }
}

.selector {
    user-select: none;
    background-color: lightgray;
    list-style: none;
    font-size: 0.8125rem;
    padding-left: 1rem;
    padding-right: 1rem;

    text-decoration: none;
    display: flex;

    height: 2rem;
    line-height: 2rem;

    //** Size Variants
    &.sel-xxs {
        height: 1rem;
        line-height: 1rem;
    }

    &.sel-xs {
        height: 2rem;
        line-height: 2rem;
    }

    &.sel-sm {
        height: 3rem;
        line-height: 3rem;
    }

    &.sel-md {
        height: 4rem;
        line-height: 4rem;
    }

    &.sel-lg {
        height: 5rem;
        line-height: 5rem;
    }

    &.sel-xl {
        height: 6rem;
        line-height: 6rem;
    }

    &.sel-xxl {
        height: 7rem;
        line-height: 7rem;
    }
}