//** Wrapper Component - A (div) container used to organize muli-piece components, or to constrict certain
//** components in specific ways.
//** Due to the nature of wrappers, they do not have a parent class. This prevents creating 3rd layer specificity.



//** This pair binds a popup to a button to simulate a dropdown. It uses z-index to allow the button to remain
//** visible above the overlay, so that it can be clicked again to toggle off.
.popup-trigger-pair {

    //** Relative pos. to bind the popup to the button.
    position: relative;
    display: inline-block;

    //** Relative pos. to allow for a custom z-index.
    .popup-trigger {
        position: relative;
        z-index: 2;
    }

    //** Pos. overlay below everything.
    .overlay {
        z-index: 1;
    }

    //** Pos. popup above everything.
    .popup {
        z-index: 3;
    }
}
 .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}
