//** Wrapper Component - A (div) container used to organize muli-piece components, or to constrict certain
//** components in specific ways.
//** Due to the nature of wrappers, they do not have a parent class. This prevents creating 3rd layer specificity.



//** This pair binds a popup to a button to simulate a dropdown. It uses z-index to allow the button to remain
//** visible above the overlay, so that it can be clicked again to toggle off.
.popup-trigger-pair {

    //** Relative pos. to bind the popup to the button.
    position: relative;
    display: inline-block;

    //** Relative pos. to allow for a custom z-index.
    .popup-trigger {
        position: relative;
        z-index: 2;
    }

    //** Pos. overlay below everything.
    .overlay {
        z-index: 1;
    }

    //** Pos. popup above everything.
    .popup {
        z-index: 3;
    }
}

.search-dropdown input[type="text"]:focus+.search-dropdown-icon {

    & .icon {
        transform: rotate(-90deg);

    }



}

.search-dropdown:focus-within .popup {
    display:block;
    & ~ .overlay{
        display: block;
        z-index: -1;
    }
}

.search-dropdown input[type="text"]+.search-dropdown-icon {

    & .icon {
        transition: transform 0.3s ease;
        transform-origin: center;

    }



}

.search-dropdown {
    position: relative;
}

.search-dropdown-icon {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}